<% provide(:title, 'Users')%>

<div id = "forum-wrapper">
  <div id = "forum-bar">

    <div id = "trending-display">
      <% if @user %>
        <div id = "Account-info">
          <%= gravatar_for @user %>
          <%= tag.p @user.name%>
          <button id = "logout-btn"><a href=<%= logout_path %>>Logout</a></button>
        </div>
      <% end %>
    </div>

    <div id = "posts-display">
      <div id = "search-bar">
        <input type = "text" id = "search" placeholder = "Search User ...">
        <button onClick = "httpGET(this, 'name=' + document.getElementById('search').value, <%= params[:offset].to_i %>)">Search</button>
      </div>

      <% if @fetched_users && @fetched_users.length > 0 %>
        <% @fetched_users.each do |user| %>
          <div id = "Account-show" onClick = "window.location.replace('<%= users_path + '/' + user.id.to_s %>')">
            <%= gravatar_for user %>
            <%= tag.p user.name%>
          </div>
        <% end %>

        <div id = "page-navigator">
          <button id = "previous-btn" onClick = "httpGET(this, getOtherParams(), <%= params[:offset].nil? ? 0 : params[:offset].to_i - 1 %>)" class = "<%= (!params[:offset].nil? && params[:offset].to_i != 0) ? "enabled" : "disabled" %>" >Previous</button>
          <button id = "next-btn" onClick = "httpGET(this, getOtherParams(), <%= params[:offset].nil? ? 1 : params[:offset].to_i + 1 %>)" class = <%= @fetched_users.length == 3 ? 'enabled' : 'disabled'%> >Next</button>
        </div>
      <% else %>
        <p id = "no-content"> No users to show </p>
      <% end %>
    </div>

  </div>
</div>

<script>

  function httpGET(obj, value = '', offset = 0)
  { 
    if(obj.classList.contains("disabled"))
      return 
    window.location.replace('<%= users_path %>' + '?'+ value + (value.length && value[value.length - 1] != '&' ? '&' : '') + 'offset=' + offset)
  }
  
  function getOtherParams(){

    s = window.location.href
    if(s.indexOf("?") == -1)
      return ''
    
    return s.substr(s.indexOf("?") + 1, s.indexOf("offset") - s.indexOf("?") - 1)
  }

</script>